{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Result Portal{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'grader/css/styles.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <h1><a href="{% url 'index' %}">Result Portal</a></h1>
            <ul>
                {% if not user.is_authenticated %}
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% else %}
                {% if user.is_lecturer %}
                <li><a href="{% url 'addcourse' %}">Add New Course</a></li>
                <li><a href="{% url 'courses' %}">Courses</a></li>
                {% endif %} 
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
          
        {% block body %}
        {% endblock %}
    </body>
</html>
